
td.td-table-data,th.td-table-heading {
    padding: 10px;
}

p.submit {
    margin: 10px; 
}

td.td-table-data label {
    margin-right: 20px;
}

tr {
    border-bottom: 1px solid #c4c4c4;
}

input#set-icon-size {
    width: 130px;
}

input#save_plugin_settings {
    padding: 0px 25px;
    font-size: 16px;
    margin-top: 15px;
}